@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior:smooth;
    @apply box-border p-0 m-0 border-0;
}

html,
body,
#__nuxt,
#__layout,
main{
    @apply w-full h-full bg-gray-900 text-white;
}

.trans-btn{
    @apply py-2 px-4 border-2 border-gray-700 hover:bg-gray-700 rounded-full transition duration-300 focus:ring;
}

.ararow{
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
}

.arrow{
    @apply h-10 w-10 border-r-2 border-b-2 hover:border-r-4 hover:border-b-4 rotate-45 duration-100 border-gray-400;
}

.hr{
    @apply w-full bg-gray-400 bg-opacity-50 block rounded-full mt-8 mb-8;
    height: 1px;
}

::-webkit-scrollbar {
    @apply w-4;
}

::-webkit-scrollbar-track {
    @apply bg-gray-500;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-600;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700;
}